.listContainer {
  display: flex;
  gap: 12px;
  flex-direction: column;

  width: 350px;
  padding: 20px;

  border: 1px solid #8b6161;
  border-radius: 10px;
  background-color: rgb(52, 59, 67);

  box-shadow: rgba(234, 221, 221, 0.645) 0px 5px 15px;
}

.message {
  color: rgb(63, 135, 81);
}
