.userWrap {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userText {
  color: rgb(241, 116, 71);
  font-weight: 400;
}

.userName {
  color: rgb(241, 116, 71);
  font-weight: 700;
}

.button {
  font-weight: 700;
  padding: 5px 10px;

  border: 2px solid #222831;
  border-radius: 5px;

  color: orangered;
  background-color: rgb(200, 200, 62);

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #000000;
  background-color: rgb(228, 228, 107);
}
